body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    scroll-behavior: smooth;
}

/* Navigation Menu */
nav {
    position: fixed;
    top: 0;
    width: 100%;
    background: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 1000;
    transition: background 0.3s ease;
}

nav.scrolled {
    background: #222;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav .logo {
    font-size: 1.5rem;
    font-weight: bold;
}

nav .menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav .menu li {
    list-style: none;
}

nav .menu li a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}

nav .menu li a:hover {
    color: #f39c12;
}


.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    color: white;
    text-align: center;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.2rem;
}


.section {
    padding: 50px 20px;
    text-align: center;
}
#home{
    background-color: #222;
}

#about {
    background: skyblue;
}

#services {
    background: pink;
}

#contact {
    background:white;
}


footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}
